<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://grocerylistappazure.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a9131384-79a4-4d7e-9766-4d68858f2cc0/resourcegroups/grocerylistapp/providers/Microsoft.Web/sites/GroceryListAppAzure</ResourceId>
    <UserName>$GroceryListAppAzure</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://grocerylistappazure.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>